{% extends 'base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
    <br>
    {% if not cart %}
        <h5>You haven't added any product to cart</h5>
    {% else %}
        <table class="table">
        <thead>
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">qty</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
    {% endif %}
{% for product in cart %}
    <tr>
        <th scope="row">{{ product.product.name }}</th>
        <td>{{ product.quantity }}</td>
        <td>
            <form action="{% url 'delete_from_cart' product.pk %}" method="post">
                {% csrf_token %}
                <label for="qtyInput">
                    <input class="form-control" value="1" name="qty" id="qtyInput" type="number" min="1"
                           max="{{ product.quantity }}">
                </label>
                <button class="btn btn-danger" type="submit">Remove</button>
            </form>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
    <br>
    {% if cart %}
    <a href="{% url 'create_order' %}" class="btn btn-primary">Order</a>
    {% endif %}
{% endblock %}