{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Edit Category{% endblock %}

{% block content %}
    <br>
    <h3>Edit product #{{ product.pk }}</h3>
    <br>
    <form action="{% url 'product_edit' product.pk %}" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        {% endbuttons %}
    </form>
{% endblock %}
