{% extends 'base.html' %}
{% block title %}Categories{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ category.pk }}</th>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td><a href="{% url 'category_edit' category.pk %}" class="btn btn-primary">Edit</a></td>
                <td>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ category.pk }}">Delete
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="deleteModal{{ category.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="deleteModalLabel{{ category.pk }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel{{ category.pk }}">Delete Category</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete "{{ category.name }}"?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{% url 'category_delete' category.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}