{% extends 'base.html' %}
{% block title %}Main Page{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-11">
            <div class="row row-cols-md-2 g-4">
                {% for product in products %}
                    <div class="card mb-6" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ product.image.url }}" class="img-fluid rounded-start"
                                     alt="{{ product.name }} image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-title">{{ product.get_category }}</p>
                                    <h6 class="card-text">Price: {{ product.price }}</h6>
                                    <a href="{% url 'product' product.pk %}"
                                       class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">see
                                        more >>></a>
                                    <form method="get" action="{% url 'add_to_cart' product.pk %}">
                                        <label for="qtyInput">
                                            <input class="form-control" value="1" name="qty" id="qtyInput" type="number" min="1"
                                                   max="{{ product.quantity }}">
                                        </label>
                                        <button type="submit" class="btn btn-primary">Add to cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1">
            <form action="{% url 'products' %}" method="get">
                {% for category in categories %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="name" value="{{ category.name }}"
                               id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ category.name }}
                        </label>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
        {% include 'partials/pagination.html' %}
    </div>
{% endblock %}