{% extends 'base.html' %}
{% block title %}Product #{{ product.pk }} Page{% endblock %}

{% block content %}
    <div class="card mb-12">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }} image">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text">{{ product.get_category }}</p>
                    <p class="card-text">{{ product.description }}</p>
                    <h5 class="card-text">Price: {{ product.price }}</h5>
                    <p class="card-title">{{ product.quantity }} left</p>
                    <p class="card-text"><small class="text-body-secondary">Added: {{ product.created_at }}</small></p>
                    <a href="{% url 'product_edit' product.pk %}" class="btn btn-primary">Edit</a>
                    <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger">Delete
                    </button>
                </div>
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Product</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete {{ product.name }}?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{% url 'product_delete' product.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}